@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-open-sans);
}

@layer base {
  :root {
    --background: 0 0% 200%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 212 100% 46%;
    --primary-foreground: 0 0% 200%;

    --secondary: 212 100% 21%;
    --secondary-foreground: 0 0% 200%;

    --tertiary: 120 50% 40%;
    --tertiary-foreground: 0 0% 200%;

    --quaternary: 80 60% 50%;
    --quaternary-foreground: 0 0% 200%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 340 100% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 180 100% 10%;
    --chart-2: 120 50% 40%;
    --chart-3: 25 100% 66%;
    --chart-4: 80 60% 50%;
    --chart-5: 27 87% 67%;
    --chart-6: 0 2% 95%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 25 100% 66%;
    --primary-foreground: 200 70% 30%;

    --secondary: 180 100% 10%;
    --secondary-foreground: 40 70% 30%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 2180 100% 10%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 0 96.75% 7.06%;
    --chart-2: 120 50% 40%;
    --chart-3: 25 100% 66%;
    --chart-4: 80 60% 50%;
    --chart-5: 27 87% 67%;
    --chart-6: 0 0% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
